.main-container {
    position: relative;
    width: 250px;
    height: 320px;
    background: green;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background: yellow;
}

.card:active {
    transform:rotateY(180deg);
}
.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #ffc728;
    color: #333;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #ffc728;
    color: #333;
    transform: rotateY(180deg);
}