@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&family=Sofia&display=swap');

:root {
    --logo-font: 'Sofia', cursive;
    --primary-font: 'Red Hat Display', sans-serif;
    --primary-color: #4487EF;
    --logo-font-size: 36px;
    --primary-font-size: 18px;
    --placeholder-color: #606060;
    --label-font-size: 10px;
}

html, body {
    margin: 0;
    height: 100%;
    background-color: var(--primary-color);
}

.container {
    border-radius: 5px;
    height: 500px;

}
.sign-btn {
    background: none;
    border: none;
    text-decoration-color: var(--primary-color);
}

.logo {
    font-family: var(--logo-font);
    color: var(--primary-color);
    font-size: var(--logo-font-size);
    padding: 30px 0;
}

.sign-btn, input[type=submit]{
    font-family: var(--primary-font);
}

.sign-btn {
    font-size: var(--primary-font-size);
}

input[type=email], input[type=password], input[type=submit] {
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    padding: 10px;
}

input[type=submit] {
    background: var(--primary-color);
    color: #fff;
    font-weight: bold;
    margin-top: 30px;
}

.input-field {
    /* padding: 5px 20px; */
    padding: 10px;
    
}

input[type=""]
/* for all browsers */
.input-field::-webkit-input-placeholder,
.input-field:-ms-input-placeholder,
.input-field:-moz-placeholder,
.input-field::-moz-placeholder {
    font-family: var(--primary-font);
    font-size: var(--primary-font-size);
    color: var(--placeholder-color);
}

::placeholder {
    color: var(--placeholder-color);
    font-family: var(--primary-font);
}

label {
    /* margin: auto; */
    font-family: var(--primary-font);
    font-size: var(--label-font-size);
    text-align: center;
    vertical-align: middle;
}
.container {
    background-color: #fff;    
}

.container, body {
    display: grid;
    place-items: center;
}

.input-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
}

input {
    margin: 10px;
}

/* default */
#sign-in-btn {
    text-decoration: underline;
}

#sign-out-btn {
    text-decoration: none;
}

#sign-in-div {
    display: block;
    height: 400px;
    width: 300px;
}

#sign-up-div {
    display: none;
    height: 400px;
    width: 300px;
}

.forgot-pass a {
    text-decoration: none;
    color: var(--primary-color);
    text-align: center;
    font-family: var(--primary-font);
    font-size: var(--label-font-size);
}

.forgot-pass {
    text-align: center;
    margin-bottom: 10px;
}